.idea
dataset/ytf
dataset/lfw
dataset/facescrub
dataset/facescrub_crop
dataset/facescrub_crop_test
dataset/facescrub_crop_train
dataset/facescrub_crop_val
dataset/facescrub_meanstd
dataset/imdb
dataset/imdb_crop
dataset/wiki_crop
dataset/facescrub_actors.txt
dataset/facescrub_actresses.txt
dataset/facescrub_bbox.txt
dataset/facescrub_dataset_prepare.py
trained
*.pyc
